.main-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.mainblock-container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.mainblock-container img{
  width: 100%;
  object-fit: contain;
}
.mainblock-container
.details p{
  display: flex;
  align-items: center;
  justify-content: space-between;

}